/* */
body {
    font-family: 'Roboto', sans-serif;
}

/* css для компонента меню */
.side-panel {
    position: fixed;
    top: 70px; /* Высота хедера */
    right: 0;
    width: 250px;
    height: calc(100vh - 70px);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.side-panel.active {
    transform: translateX(250px); /* Скрыть панель */
}
/* css для компонента хедэр */
.header {
    color:#323532;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1001;
}
/* css для компонента футер*/
.footer {
    margin-top: auto;
    text-align: center;
    color: #323532;
    padding: 1rem 0;
    z-index: 1001;
}
/* css для страницы каталога товаров */
.catalog {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.catalog-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr)); /* Адаптивная сетка repeat(3, 1fr)*/
    grid-gap: 20px;
}
.catalog-item-card {
    min-height: 200px;   /* Минимальная высота */
    max-height: 400px;   /* Максимальная высота */
    overflow-y: auto;    /* Добавляем прокрутку, если содержимое больше максимальной высоты */
    box-sizing: border-box; /* Включаем padding и border в общую ширину/высоту */

    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}
.catalog-item-card:hover {
    transform: scale(1.05);
}
.catalog-item-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
.catalog-item-card h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}
.catalog-item-card p {
    margin: 5px 0;
    font-size: 1em;
    color: #666;
}
@media (max-width: 992px) { /* Медиа-запросы для адаптивности */
    .catalog-grid {
        grid-template-columns: repeat(2, minmax(200px, 1fr)); /* 2 колонки на средних экранах */
    }
}
@media (max-width: 768px) {
    .catalog-grid {
        grid-template-columns: repeat(1, minmax(150px, 1fr)); /* 1 колонка на маленьких экранах */
    }
}
/* css для модального окна с товаром */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.details-btn {
    background-color: #FFD700;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.details-btn:hover {
    background-color: #FFA500;
}

.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fafafa;
}

.modal-body p {
    line-height: 1.5;
    font-size: 16px;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
}

.modal-body img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.modal.show {
    display: block; /* Показываем модальное окно */
}

.modal-body img {
    width: 60%; /* Автошира ширина */
    height: auto; /* Сохраняет пропорции */
}
