<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты | Онлайн-магазин</title>
</head>
<body class="container-fluid d-flex flex-column min-vh-100">
    
        <!-- Header -->
        {% include 'components/header.html' %}

    <main>
        <h2>Контакты</h2>
        <address>
            <strong>Адрес офиса:</strong><br>
            г. Москва, ул. Тверская, д. 10, офис 501<br>
            <strong>Телефон:</strong> +7 (495) 123-45-67<br>
            <strong>Email:</strong> info@shop.ru
        </address>
    </main>

    <!-- Footer -->
    {% include 'components/footer.html' %}

</body>
</html>