<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Доставка | Онлайн-магазин</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<body class="container-fluid d-flex flex-column min-vh-100">
    
    <!-- Header -->
    {% include 'components/header.html' %}
    <!-- Side Panel Menu -->
    {% include 'components/sidepanel-menu.html' %}
   
    <!-- Основной контент страницы -->
     <main role="main" class="flex-grow-1">
        <section class="py-5 container grid-container">
            <div class="grid-item shipping-info">
                <h2>Информация о доставке</h2>
                <p>Мы осуществляем доставку товаров по всей территории России удобным для вас способом.</p>
            </div>
            
            <div class="grid-item shipping-methods">
                <h2>Способы доставки:</h2>
                <ul>
                    <li>Почта России (стоимость рассчитывается автоматически исходя из веса и региона)</li>
                    <li>CDEK (экспресс-доставка курьером по Москве и Санкт-Петербургу)</li>
                    <li>Самовывоз из пунктов выдачи в крупных городах</li>
                </ul>
            </div>
            
            <div class="grid-item shipping-cost">
                <h2>Стоимость доставки:</h2>
                <p>Стоимость доставки зависит от выбранного способа и региона назначения. Расчет стоимости производится автоматически при оформлении заказа.</p>
            </div>

            <div class="grid-item delivery-time">
                <h2>Срок доставки:</h2>
                <p>Средний срок доставки составляет от 3 до 10 рабочих дней в зависимости от удаленности региона и выбранного способа доставки.</p>
            </div>

            <div class="grid-item delivery-paymant">
                <h2>Оплата доставки:</h2>
                <p>Оплатить доставку можно при получении заказа наличными или банковской картой курьеру либо заранее при оформлении заказа на сайте.</p>
            </div>
        </section>
    </main>
  
    <!-- Footer -->
    {% include 'components/footer.html' %}
    
    <script src="{{ url_for('static', filename='js/sidepanel-menu.js') }}"></script>
    
</body>
</html>